<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012060897596-g3uf3rsa13eqtlcs8be97hjunnlf2biq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012060897596-g3uf3rsa13eqtlcs8be97hjunnlf2biq</string>
	<key>API_KEY</key>
	<string>AIzaSyBca63uxri-cGNxHLNmqQQDZZfztEibczA</string>
	<key>GCM_SENDER_ID</key>
	<string>1012060897596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.SpotifyCloneB</string>
	<key>PROJECT_ID</key>
	<string>spotify-e72c0</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-e72c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012060897596:ios:7b739faa0bbb76de12de39</string>
</dict>
</plist>